<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <appSettings>
      <add key="ComputerName" value="bigdaddy"/> <!--the name present here "C:\Users" -->
      <add key="username" value="MATHURPRAY"/> <!-- the username of your IRCTC account -->
      <add key="password" value="ajaymanan"/> <!-- the passsword of your IRCTC account-->
      <add key="FromStation" value="KOTA JN - KOTA"/> <!-- Source Station -->
      <add key="ToStation" value="JAIPUR - JP"/> <!-- Destination Station-->
      <add key="BoardingStation" value="KOTA JN - KOTA"/> <!-- Boarding Station // Don't leave blank -->
      <add key="JourneyDate" value="6-6-2016"/> <!-- Date of journey // format -> dd-mm-yyyy // mm -> 1, 2, 3, ... , 10 , 11, 12 -->
      <add key="Quota" value="GN"/> <!-- Tatkal = CK , General = GN, Physically Handicapped = HP , premium tatkal = PT ,Ladies = LD-->
      <add key="TrainNumber" value="59801"/> <!-- Train Number of the train to book tkt in -->
      <add key="Class" value="3A"/> <!-- 1A , 2A , 3A , CC , SL , 2S -->
      <add key="PassengerName" value="JAY DOSHI"/>
      <add key="PassengerAge" value="21"/>
      <add key="PassengerGender" value="Male"/> <!--Male , Female -->
      <add key="PassengerBerthPreference" value="LOWER"/> <!--WINDOW SIDE , LOWER , MIDDLE , UPPER , SIDE LOWER , SIDE UPPER-->
      <add key="FoodChoice" value="Veg"/> <!--Veg , Non Veg-->
      <add key="PassengerMobileNumber" value="9534068403"/>
      
      <!--For SBI Debit Card Only-->

      <add key="DebitCardNumber" value=""/>
      <add key="DebitCardMonth" value=""/>
      <add key="DebitCardYear" value=""/>
      <add key="NameOnCard" value=""/>
      <add key="AtmPin" value=""/>
    </appSettings>
</configuration>
